/* .iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
} */

h1 {
  font-family: Georgia;
  text-align: center;
  background: #006699;
  color: whitesmoke;
  padding: 10px;
}

h3 {
  font-family: 'Times New Roman';
  font-weight: bold;
}

.article{
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

  
/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #006699;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
